# Virtual environment
.venv/
venv/
ENV/

# Python bytecode/cache
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS system files
.DS_Store

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
